---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Serif+KR&display=swap");

body {
  font-family: "Noto+serif";
  color: #b1610b;
}

h1 {
  font-family: "Montserrat";
  color: #ff8000;
}
h2 {
  font-family: "Montserrat";
  color: #ffbf00;
}
h3 {
  font-family: "Montserrat";
  color: #ffbf00;
}
h4 {
  font-family: "Montserrat";
  color: #ffbf00;
}
