---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

body {
  font-family: "Karla";
  color: #075518;
}

h1 {
  font-family: "Montserrat";
  color: #ffffff;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  color: #01154e;
}
